:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  padding: 20px 100px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #03983a;
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  background-color: #008a37;
}

.add-customer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}





.main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 30px;

}

.inputbox {
  width: 250px;
  background-color: rgb(79, 77, 77);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px 30px 20px;
  border-radius: 8px;

}

h2 {
  color: #e7ae13;
}

.inputbox h2 {
  text-align: center;
  padding-top: 5px;
}

.inputbox input,
.inputbox select {
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 9.6px 19.2px;
  font-size: 16px;
}

/* display box */
.displaybox {
  flex-grow: 1;
}

.displaybox {
  width: 250px;
  height: 450px;

  background-color: rgb(79, 77, 77);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: auto;
}

.content-area {
  overflow-y: auto;
}

.inputbox h2 {
  text-align: center;
  padding-top: 5px;
}

.inputbox input,
.inputbox select {
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 9.6px 19.2px;
  font-size: 16px;
}



.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 10px;
}

.content-left h3 {
  margin: 0;
}

.content-left p {
  margin: 0;
}

.status-complete {
  color: #00c3ff;
}

.status-waiting {
  color: #ff3c01;
}

.status {
  color: #66ff00;
}

.content-right {
  display: flex;
  align-items: center;
  gap: 4px;
}

.content-right span {
  display: grid;
  place-content: center;
  background-color: rgb(214, 14, 0);
  border-radius: 8px;
  padding: 0.8em 1.0em;
  font-size: 1em;
  font-weight: 500;
}